html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    font-family: 'Montserrat', sans-serif;
    padding: 60px 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-banner {
    width: calc(100% - 75px);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
} 

.description {
    font-size: 16px;
    color: #8B8B8B;
    text-align: center;
    margin: 15px 0 30px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 60px; */
}

button {
    font-family: inherit;
}

.primary {
    background-color: #407BFF;
    border: 0;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
    margin-bottom: 10px;
}

.secondary {
    background-color: #8B8B8B;
    border: 0;
    border-radius: 20px;
    color: white;
    padding: 10px 30px;
}

.office-service,
.courier-service {
    margin: 60px 0 0 0;
}

h2 {
    font-size: 16px;
    text-align: center;
}

.service-card {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #8B8B8B;
    padding: 10px;
    margin-bottom: 15px;

}

.service-card img {
    flex: 1 1;
    margin: 20px;
}

.service {
    padding-left: 10px;
}



/* TABLET - min-width: 640px */

@media screen and (min-width: 640px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-banner {
        width: 400px;
    }
    
    h1 {
        margin: 30px;
    }

    .description, 
    .buttons {
        margin-left:110px; 
        margin-right: 110px;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
    }

    .primary,
    .secondary {
        margin: 10px;
    }

    .office-service,
    .courier-service {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .courier-service h2,
    .description {
        flex: 1 1 100%;
    }

    .service-card {
        flex: 0 1 30%;
        width: calc(100vw-80px);
        display: flex;
        flex-direction: column;
    }



}